/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    
    text-decoration: none;
}

header nav {
    display: flex;
    flex-direction: row;
    }

    header nav a {
        padding: 50px 25px;
        color: black;
        border-top: 2px transparent solid;
        transition: .3s;
        }


        header nav a:hover, .selected {
            color: blue;
            border-top: 2px blue solid;
            }

            


.section-title {
    margin-bottom: 20px;
    font-size: 22px;
}

/* filtres */

.filters {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.filtersTitle {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.filtersButtonIcons {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.filtersClass {
    margin: 0 1rem;
}


.infoResults{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}



.filtersButton {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

.searchFiltersFilterWrapiconIcon {
    color: #0065FC;
}

.searchResultWrapicon {
    color: #0065FC;
}

.searchResultText {
    margin: 0;
}

.infoResultsGroup {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.searchResultText p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* cards */

.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
}

.card {
  
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition-duration: 0.2s;
}

.card:hover{
    transition: ease-in-out;
    transform: scale(1.02);
}


.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Header */
/* Logo */
.logo{
    width: 161.09px;
    padding: 25px 0px;
    color: #0065FC;
    font-size: 30px;
    font-weight: 600;
}

/* Menu */
.container-menu{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    list-style-type: none;
    width: 294px;
    position: relative;
}

.menu-hebergements{
    width: 80px;
    position:absolute;
    text-align: center;
    padding: 20px 60px;
    
}
.menu-hebergements:hover{
    display: block;
    border-top: 2px solid #0065fc;
}



.menu-activites{
    width: 80px;
    position: absolute;
    right: 0;
    padding: 20px 0 20px 20px;
}

.menu-activites:hover{
    display: block;
    border-top: 2px solid #0065fc;
}

/* Body */
h2{
    color: #000;
}

/* Filtre recherche */

.container-search{
    
    display: flex;
    justify-content: space-between;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    border: 1px solid #f2f2f2;
    margin: 30px 0;
}

.container-fa{
    background: #f2f2f2;
    position: relative;
    width: 50px;
    height: 49px;
    border-radius:15px 0 0 15px;
}

.fa-solid.fa-location-dot{
  position: absolute;
    color: #000;
  margin: 0 auto;
   left: 16px;
   top: 14px;
    font-size: 18px;
    
}

.search-city{
    
    width: 147px;
    height: 49px;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    outline: none;
    border: none;
    opacity: .5;
}

.button-city{
    
    width: 132px;
    height: 49px;
    border-radius: 0 15px 15px 0;
    background:#0065FC;
    font-family: "Raleway";
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    border: none;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
   
}

.hebergements-flex{
    display: flex;

gap: 20px;
flex-wrap: wrap;
}



.hebergements-cards img {
   
    height: 136px;
    border-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing:border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficher p{
    margin: 0 0 15px 44px;
font-size: 18px;
font-weight: 700;
line-height: 21.13px;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}




/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */
.partie-activites {
    margin-top: 60px;
}

.activites h2 {
    margin-bottom: 15px;
}

.les-activites {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activites .card {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.activites img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Footer */
.container-footer{
   
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    margin-top: 33px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.a-propos,.nos-hebergements,.assistance{
    width: 375.33px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

 
        .activites .card {
            width: 45%;
            margin: 12px;
        }
    

    .container-footer{
        width: 100%;
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {

    .logo{
        text-align: center;
        margin: auto;
    }

    .container-menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin: 30px 0;
        max-width: 1440px;

justify-content: space-between;
        }

        main, header, footer {
            width: auto;
            padding: 0;
            }
   
header nav{
display: flex;
flex-direction: row;
width: 100%;
align-items: center;
gap: 30px;
margin: 30px 0;
}

header nav a {
    width: 50%;
    padding: 14px;
    border-bottom: 3px grey solid;
    border-top: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

    .container-search {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        border: 1px solid grey;
        border-radius: 20px;
        }

    
    .activites .card{
        width: 100%;
        
    }

    .hebergements-cards.card{
        width: 100%;
    }

    /* ... */
}